<?xml version="1.0" encoding="UTF-8"?>
<Context>
<!-- Aggiunto database di test mysql -->
  <Resource name="jdbc/mysqlantoioviDB" auth="Container" type="javax.sql.DataSource"
              maxTotal="100" maxIdle="30" maxWaitMillis="10000"
              username="sa" password="sa" driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/antoiovi_tutorials?&amp;serverTimezone=UTC"/>
</Context>
